body, html {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    /* feel free to use any image you want.  The url() function will take local or internet images */
  	background-image: url("static/download.png");

  	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}