<!-- hello.html -->
{% block title %}Welcome | text++{% endblock %}

{% block body %}
<style>
.splash-page {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
}
.splash-page .panel {
    text-align: center;
    background-color: rgba(242, 242, 242, 0.9);
}
.form-element label {
    display: inline-block;
    width: 200px;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    /* feel free to use any image you want.  The url() function will take local or internet images */
    background-image: url("static/download.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

</style>
<div class="row splash-page">
  <div class="medium-10 medium-centered columns">
  	<div class="panel">
	  <h1>
	  		Text Sent to {{ phone }}:<br>
			Original: {{ originalText }}<br>
			Rhymed: {{ rhymedText }}<br>
			GIF: 
      	  </h1>
	  <img src={{ gif }}>
        </div>
  </div>
</div>
{% endblock %}
